*, *::before, *::after {
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url('./fonts/Poppins-Regular.ttf') format('ttf'); 
}

/* @font-face {
  font-family: 'PoppinsBold';
  src: local('PoppinsBold') url('./fonts/Poppins-Bold.ttf') format('ttf');
} */
@tailwind utilities;  

/* @layer base {
  html {
    font-family: "poppins", system-ui, sans-serif;
  }
} */

@layer components {
  .dolar-li-header {
    @apply flex items-center px-2 hover:bg-slate-100 hover:text-black;
  }
}


